@page
@model cricbuzz.Tours.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit Tour Details</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tour.Id" />
            <div class="form-group">
                <label asp-for="Tour.TourName" class="control-label"></label>
                <input asp-for="Tour.TourName" class="form-control" />
                <span asp-validation-for="Tour.TourName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Description" class="control-label"></label>
                <input asp-for="Tour.Description" class="form-control" />
                <span asp-validation-for="Tour.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Period" class="control-label"></label>
                <input asp-for="Tour.Period" class="form-control" />
                <span asp-validation-for="Tour.Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.CountryId" class="control-label"></label>
                <select asp-for="Tour.CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="Tour.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">View All Tours</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
